h1 {
    margin-top: 40px;
    font-family: 'Arima Madurai';
    font-size: 400%;
    font-weight: 600;
    text-align: center;
}

img, .play {
    width: 60px;
    display: block;
    margin: auto;
}

.progress-bar {
    background-color: #A4CC44;
}

.card {
    border: 2px solid #A4CC44;
}

iframe {
    width: 90%;
}

@media (min-width: 576px) { 
    #events {
        text-align: center;
    }
}

@media (max-width: 575px) { 
    h1 {
		font-size: 300%;
    }

	h3 {
        margin-top: 40px;
        font-size: 1.5em;
    }
}