@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap');
/* Colors   (gold) #F9DB22;
    (light yellow) #f7f14a;
     (light green) #a4cc44;
     (dark green) #89AB0D; */
#mainHeading{
    margin-top: 2em;
}
#mainHeading h1{
    text-align: center;
    font-family: 'Arima Madurai';
   
}

.container .row{
    justify-content: center;
}

.card{
    margin: 1em;
}
.card, .card-header{
    background-color: #89AB0D;
}

.card-title{
    margin-top: 0.6em;
    margin-bottom: 0.5em;
    font-size: 170%;
}

.card-text{
    margin: 0.01em;
    font-size: 120%
}

.card-img-left{
    width:10%;
    height:40%;
}

.imageDirectoryProfiles{
    width:100%;
    height:100%;
}