@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #89AB0D;
}

section {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.section-split {
	width: 80%;
	text-align: center;
	border-width: 3px;
}

/* ------------------------------------------
					NAVBAR 
------------------------------------------- */
.navbar {
	font-family: 'Arima Madurai', cursive;
	font-weight: bold;
	font-size: 1.10em;
}

.navbar-title {
	font-weight: bolder;
	font-size: 2em;
}

#language {
	background-color: rgb(235, 235, 235);
}

.search {
	font-family: 'Roboto', sans-serif;
	margin-left: 1vw;
	margin-right: 1vw;
}

.search a, #language {
	color: black;
}

.dropdown-menu {
	font-family: 'Roboto', sans-serif;
}

.dropdown-item:hover {
	background-color: #F9DB22;
}

/* ------------------------------------------
				   CAROUSEL 
------------------------------------------- */

.carousel h1 {
	font-family: 'Arima Madurai', cursive;
}

/* ------------------------------------------
					WELCOME 
------------------------------------------- */

#welcome img {
	width: 100%;
	height: 100%;
	/* box-shadow: 10px 10px 10px #F9DB22; */
}

#welcome h1 {
	font-family: 'Arima Madurai', cursive;
	color: #89AB0D;
}

.welcome-img {
	text-align: center;
}

/* ------------------------------------------
					WELCOME 
------------------------------------------- */

#membership .card-text {
	text-align: left;
}

#membership h3 {
	font-family: 'Arima Madurai', cursive;
	color: #89AB0D;
} 

#membership .btn-grn {
	background-color: #89AB0D;
}

/* ------------------------------------------
				OF THE MONTH 
------------------------------------------- */

#ofTheMonth .box {
	text-align: center;
}

#ofTheMonth .card {

}

#ofTheMonth .crd-img {
	padding: 0vw 1.2vw 0vw;
}

#ofTheMonth h3 {
	font-family: 'Arima Madurai', cursive;
	color: #89AB0D;
}

/* ------------------------------------------
			        NEWS 
------------------------------------------- */

#news h3 {
	font-family: 'Arima Madurai', cursive;
	color: #89AB0D;
}

#news .box {
	text-align: center;
}

#news .box img {
	width: 100%;
	height: 70%;
}

/* ------------------------------------------
				   CALENDAR 
------------------------------------------- */

#calendar h3 {
	font-family: 'Arima Madurai', cursive;
	color: #89AB0D;
}

/* ------------------------------------------
				  FOOTER
------------------------------------------- */

footer {
	font-family: "Arima Madurai", cursive;
	background-color: #89AB0D;
	margin-top: 80px;
	line-height: 1.25em;
}

footer h4 {
	font-weight: bold;
}

footer .col-md-4 {
	padding-left: 5%;
}

footer .content-top {
	padding-top: 5vh;
}

footer .copyright {
	text-align: center;
	padding-bottom: 5vh;
}

footer a {
	color: white;
}

footer a:hover {
	color: #F9DB22;
}

footer p {
	display: inline;
}

footer .btn {
	border: 1px solid white;
}

footer .btn:hover {
	background-color: #F9DB22;
}

#email {
	font-family: 'Roboto', sans-serif;
}
